{% extends "base.html" %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <img class="card-img-top" src="{{post.img.url}}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quis esse magni
                        ut labore deleniti illum tenetur, ducimus dolores similique!</p>
                    <p class="card-text"><small class="text-muted">55555</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}